.frame{
    display:flex;
    flex-direction: row;
}
.clanak {
    display: flex;
    padding: 10px;
    flex: 1 1 25%;
    max-width: 31.5%;
    min-width: 200px;
    background: white;
    flex-direction: column;
    margin: 10px;
    position: relative;
}
.paragraf{
word-break: break-all;font-size: 14px;}
h3{font-size: 18px;}
@media(max-width:767px){
    .clanak{max-width: 100%;}
}
